<table class="totals">
  <% order_mrp_total = @order.line_items.map{|i| i.price * i.quantity}.sum %>
  <% if (order_mrp_total - @order.item_total).round(2) != 0 %>
    <tr>
      <td class="cel1 bold"><%= t(:mrp_total) %>: </td>
      <td class="cel2 bold cell" align="right"><%= number_to_currency order_mrp_total %></td>
    </tr>
  <% if (@order.item_total - order_mrp_total).round(2) > 0 %>
    <tr>
      <td class="cel1 bold"><%= t(:discount_total) %>: </td>
      <td class="cel2 cell" align="right"><%= number_to_currency(@order.item_total - order_mrp_total) %></td>
    </tr>
  <% end %>
  <% end %>

  <!-- TOTALE PARZIALE -->
  <% if @order.price_adjustment_totals.present? %>
  <tr>
    <td class="cel1"><%= t(:products) -%> </td>
    <td class="cel2 cell" align="right"><%= number_to_currency @order.item_total - @order.price_adjustment_totals.values.inject(:+) %></td>
  </tr>
  <% else %>
  <tr>
    <td class="cel1"><%= t(:products) -%></td>
    <td class="cel2 cell" align="right"><%= number_to_currency @order.item_total %></td>
  </tr>
  <% end -%>

  <!-- SPEDIZIONE, SPESE DI GESTIONE -->
  <% shipping_VAT = 0 %>
  <% shipping = 0 %>
  <% @order.adjustments.eligible.each do |adjustment| %>
  <% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
  <% next if  (adjustment.amount == 0) %>
  <tr>
    <td class="cel1"><%= adjustment.label %> </td>
    <td class="cel2 cell" align="right"><%= number_to_currency adjustment.amount * 0.79 %></td>
    <% shipping_VAT = shipping_VAT + adjustment.amount * 0.21 %>
    <% shipping = shipping + adjustment.amount * 0.79 %>
  </tr>
  <% end %>

  <!-- IMPONIBILE -->
  <% if @order.price_adjustment_totals.present? %>
  <tr>
    <td class="cel1 bold"><%= t(:net_amount) %> </td>
    <td class="cel2 bold cell" align="right"><%= number_to_currency @order.item_total - @order.price_adjustment_totals.values.inject(:+) + shipping %></td>
  </tr>
  <% else %>
  <tr>
    <td class="cel1 bold"><%= t(:item_total) %> </td>
    <td class="cel2 bold cell" align="right"><%= number_to_currency @order.item_total + shipping %></td>
  </tr>
  <% end -%>

  <!-- IVA -->
  <% if @order.price_adjustment_totals.present? %>
    <tr>
      <td class="cel1"></td>
      <td class="cel2"></td>
    </tr>
    <% @order.price_adjustment_totals.keys.each do |key| %>
      <% next unless @order.price_adjustment_totals[key] %>
      <tr class="total">
        <td class="cel1"><%= key.delete("inclusa") %></td>
        <% if key =~ /IVA 21/ %>
        <td class="cel2 cell" align="right"><%= number_to_currency @order.price_adjustment_totals[key] + shipping_VAT %></td>
        <% else %>
        <td class="cel2 cell" align="right"><%= number_to_currency @order.price_adjustment_totals[key] %></td>
        <% end -%>
      </tr>
    <% end %>
    <% unless @order.price_adjustment_totals.keys.any? { |k| k =~ /IVA 21/ } %>
      <tr class="total">
        <td class="cel1">IVA 21%</td>
        <td class="cel2 cell" align="right"><%= number_to_currency shipping_VAT %></td>
      </tr>
    <% end -%>
    <tr class="total">
      <td class="cel1 bold"><%= t(:vat) %></td>
      <td class="cel2 cell bold" align="right"><%= number_to_currency @order.price_adjustment_totals.values.inject(:+) + shipping_VAT %></td>
    </tr>
    <tr>
      <td class="cel1"></td>
      <td class="cel2"></td>
    </tr>
  <% end %>


  <tr>
    <td class="cel1 bold"><strong><%= t(:order_total) %></strong></td>
    <td class="cel2 cell" align="right"><strong><span id='summary-order-total'><%= number_to_currency @order.total %></span></strong></td>
  </tr>





</table>
