<table>
  <tr>
    <td width="345"><%= wicked_pdf_image_tag Spree::HtmlInvoice::Config[:html_invoice_logo_path] || "store/invoice_logo.jpg", :id => "logo" %></td>
    <td width="345">
      <% if @order.payment_method.class.name == 'Spree::CashOnDelivery::PaymentMethod' %>
      <div class="cod">
        <%= "COD - #{number_to_currency(@order.total)}" %>
      </div>
      <% end %>
    <div align="right">
      <p class="title"><%= t("#{params[:template]}.header") %></p>
      <p><%= t('invoice.order_number', :number => @order.number) %></p>
      <p><%= l(@order.completed_at.to_date) if @order.completed_at %></p>
      <p><%= t('invoice.shipping_method', :name => @order.shipping_method.name) %></p>
      <p><%= t('invoice.payment_status', :status => @order.payment_state.titlecase, :method => @order.payment_method.name.titlecase) %></p>
      <p><%= @order.email %></p>
    </div></td>
  </tr>
</table>
